<!DOCTYPE html>
<html>
<head>	
	<title>zuhe ip</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="/css/kube.css" /> 	
	<link rel="stylesheet" type="text/css" href="/css/master.css" /> 		

	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>	
	
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->		

</head>
<body>
<div class="units-row">
<table class="width-25 table-striped">
	<thead>
		<tr>
			<th>zuhe make</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>

<form method="post" action="" class="forms forms-columnar">
	<p>
		<label>ip list:</label>
		<textarea name="ip">{{ ip }}</textarea>
	</p>
	<p>
		<label>num:</label>
		<input type="text" name="num"/>
	</p>
	<p>
		<label>domain:</label>
		<input type="text" name="domain"/>
	</p>	
	<p>
		<label>sql:</label>
		<input type="text" name="sql" value="insert into `aaaaa` set a='?'" />
	</p>	
	<p>
		<input type="submit" class="btn" value="submit">
	</p>
</form>			
			</td>
		</tr>
	</tbody>
</table>
<textarea></textarea>
</div>

</body>
</html>
