<!DOCTYPE html>
<html>
<head>	
	<title>源ip探测</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="/css/kube.css" /> 	
	<link rel="stylesheet" type="text/css" href="/css/master.css" /> 		

	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>	
	
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->		

</head>
<body>
<div class="units-row">
<table class="width-25 table-striped">
	<thead>
		<tr>
			<th>源ip探测</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>

<form method="post" action="" class="forms forms-columnar">
	<p>
		<label>源ip段：</label>
		<input type="text" name="ip" placeholder="1.1.1.1" />
	</p>
	<p>
		<label>端口：</label>
		<input type="text" name="port" placeholder="80" value="80" />
	</p>
	<p>
		<label>主机名：</label>
		<input type="text" name="host" placeholder="www.test.com" />
	</p>
	<p>
		<input type="submit" class="btn" value="查询">
	</p>
</form>			
			</td>
		</tr>
	</tbody>
</table>
</div>

</body>
</html>
